<div class="container">
    <nav>
        <ul>
            <img src="../assets/img/MIDALL NOVOb.png" class="imagem" />
            <li><a href="/sistema/clipping">Clipping de Email</a></li>
            <li><a href="/sistema/gerenc_assoc">Gerenciar Associados</a></li>
            <li><a href="/sistema/cadastro_assoc">Cadastrar Associados</a></li>
            <img src="../assets/img/MIDALL NOVOb.png" class="imagem1" />
        </ul>
    </nav>
    <section class="cadastro_user">
        <div class="coluna">
            <h1 class="gradient">Cadastrar Associados</h1>
            <form action="/sistema/cadastrar_assoc" method="POST">
                <div class="td">
                    <div class="foto_perfil">
                        <img src="../assets/img/foto.jpg" />
                        <input type="file"></input>
                    </div>
                    <div class="info">
                        <input type="text" placeholder="Nome" name="nome" />
                        <br />
                        <input type="text" placeholder="Endereço" name="endereco" />
                        <br />
                        <input type="text" placeholder="Complemento" name="comp" />
                        <br />
                        <div class="info_lado">
                            <input type="date" placeholder="Data de Nascimento" name="nasc" />
                            <input type="text" placeholder="CEP" name="cep" />
                        </div>
                        <br />
                    </div>
                </div>
                <div class="info2">
                    <div class="itens-cadastro">
                        <input type="text" placeholder="Telefone" name="tel" />
                        <input type="text" placeholder="CPF" name="cpf" />
                        <input type="text" placeholder="RG" name="rg" />
                    </div>
                    <div class="novas_infos">
                        <select name="estado_cv" id="estado_cv">
                            <option value="Casado(a)">Casado(a)</option>
                            <option value="Solteiro(a)">Solteiro(a)</option>
                            <option value="Viúvo(a)">Viúvo(a)</option>
                        </select>
                        <input type="text" name="inst_ens" placeholder="Instituição de Ensino">
                    </div>
                    <div class="info_email">
                        <input type="text" placeholder="Email" name="email" />
                    </div>
                    <div class="align_buts">
                        <button type="reset">Limpar</button>
                        <button type="submit">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>