<div class="container">
    <nav>
        <ul>
            <img src="../assets/img/MIDALL NOVOb.png" class="imagem" />
            <li><a href="/sistema/clipping">Clipping de Email</a></li>
            <li><a href="/sistema/gerenc_assoc">Gerenciar Associados</a></li>
            <li><a href="/sistema/gerenc_assoc">Cadastrar Associados</a></li>
            <img src="../assets/img/MIDALL NOVOb.png" class="imagem1" />
        </ul>
    </nav>
    <section class="cadastro_user">
        <div class="coluna">
            <h1 class="gradient">Cadastrar Associados</h1>
            <form action="/sistema/cadastrar_assoc" method="POST">
                <div class="td">
                    <div class="foto_perfil">
                        <img src="../assets/img/foto.jpg" />
                        <button>Upload</button>
                    </div>
                    <div class="info">
                        <input type="text" placeholder="Nome" />
                        <br />
                        <input type="text" placeholder="Endereço" />
                        <br />
                        <input type="text" placeholder="Complemento" />
                        <br />
                        <div class="info_lado">
                            <input type="date" placeholder="Data de Nascimento" />
                            <input type="number" placeholder="CEP" />
                        </div>
                        <br />
                    </div>
                </div>
                <div class="info2">
                    <div class="itens-cadastro">
                        <input type="tel" placeholder="Telefone" />
                        <input type="number" placeholder="CPF" />
                        <input type="number" placeholder="RG" />
                        <br />
                    </div>
                    <div class="info_email">
                        <input type="email" placeholder="Email" />
                    </div>
                    <div class="align_buts">
                        <button type="reset">Limpar</button>
                        <button type="submit">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>