<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MidAll</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="C,Email.html">Clipping de Email</a></li>
            <li><a href="G,Associados.html">Gerenciar Associados</a></li>
            <li><a href="cadastros.html">Cadastrar Associados</a></li>
        </ul>
    </nav>
    <section>
        <div class="coluna">
            <h1>Cadastrar Associados</h1>
            <form>
                <img src="img/foto.jpg">
                <input type="text" placeholder="Nome">
                <br>
                <input type="text">
                <br>
                <input type="text">
                <br>
                <input type="date">
                <input type="number">
                <br>
                <input type="tel">
                <input type="number">
                <input type="number">
                <br>
                <input type="email">
            </form>
        </div>
    </section>
</body>
</html>