<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MidAll</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="C,Email.html">Clipping de Email</a></li>
            <li><a href="G,Associados.html">Gerenciar Associados</a></li>
            <li><a href="cadastros.html">Cadastrar Associados</a></li>
        </ul>
    </nav>
</body>
</html>