<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>MidAll</title>
</head>
<body class="container">
    <nav>
        <ul>
            <img src="../img/MIDALL NOVOb.png" class="imagem">
            <li><a href="Clipping_emails.html">Clipping de Email</a></li>
            <li><a href="Geren_Assoc.html">Gerenciar Associados</a></li>
            <li><a href="cadastros.html">Cadastrar Associados</a></li>
            <img src="../img/MIDALL NOVOb.png" class="imagem1">
        </ul>
    </nav>
    <section class="Gerenciar_Associados">
        <div class="coluna">
            <h1 class="gradient">Gerenciar Associados</h1>
            <div class="borda">
                <div class="imag">
                    <img src="../img/foto.jpg">
                </div>
                <div class="dados">
                    <h2>Nome:
                        Telefone:
                        Endereço:
                    </h2>

                </div>
            </div>
    </section>
</body>
</html>