<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MidAll</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="fundinho">
        
    <div class="info">
        <h1>MidAll</h1>
        <h3>_________________________</h3>
        <br></br>
        <h2>Bem-Vindo(a) de volta!</h2>
        <br></br>
        <input type="text" placeholder="E-mail">
        <br></br>
        <input type="password" placeholder="senha">
        <br></br>
        <button>Entrar</button>
    </div>
    </div>
</body>
</html>