<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>MidAll</title>
  </head>

  <body class="container">
    <nav>
      <ul>
        <img src="../img/MIDALL NOVOb.png" class="imagem" />
        <li><a href="Clipping_emails.html">Clipping de Email</a></li>
        <li><a href="Geren_Assoc.html">Gerenciar Associados</a></li>
        <li><a href="cadastros.html">Cadastrar Associados</a></li>
        <img src="../img/MIDALL NOVOb.png" class="imagem1" />
      </ul>
    </nav>
    <section class="cadastro_user">
      <div class="coluna">
        <h1 class="gradient">Cadastrar Associados</h1>
        <form>
          <div class="td">
            <div class="foto_perfil">
              <img src="../img/foto.jpg" />
              <button>Upload</button>
            </div>
            <div class="info">
              <input type="text" placeholder="Nome" />
              <br />
              <input type="text" placeholder="Endereço" />
              <br />
              <input type="text" placeholder="Complemento" />
              <br />
              <div class="info_lado">
                <input type="date" placeholder="Data de Nascimento" />
                <input type="number" placeholder="CEP" />
              </div>
              <br />
            </div>
          </div>
          <div class="info2">
            <div class="itens-cadastro">
              <input type="tel" placeholder="Telefone" />
              <input type="number" placeholder="CPF" />
              <input type="number" placeholder="RG" />
              <br />
            </div>
            <div class="info_email">
              <input type="email" placeholder="Email" />
            </div>
            <div class="align_buts">
              <button>Cancelar</button>
              <button>Limpar</button>
              <button>Cadastrar</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
