<nav>
    <ul>
        <img src="./assets/img/MIDALL NOVOb.png" class="imagem">
        <li><a href="Clipping_emails.html">Clipping de Email</a></li>
        <li><a href="Geren_Assoc.html">Gerenciar Associados</a></li>
        <li><a href="cadastros.html">Cadastrar Associados</a></li>
        <img src="./assets/img/MIDALL NOVOb.png" class="imagem1">
    </ul>
</nav>
<section class="clipping_emails">
    <div class="coluna">
        <h1 class="gradient">Clipping de Email</h1>
        <div class="borda">
            <div class="imag">
                <img src="./assest/img/foto.jpg">
            </div>
            <div class="dados">
                <h2> Nome:
                    Descrição:
                </h2>

            </div>
        </div>
</section>
</body>