<div class="fundinho">

    <div class="info">
        <h1>MidAll</h1>
        <h3>_________________________</h3>
        <br></br>
        <h2>Bem-Vindo(a) de volta!</h2>
        <br></br>
        <form action="/clipping" method="post">
            <input type="text" placeholder="E-mail">
            <br></br>
            <input type="password" placeholder="senha">
            <br></br>
            <button type="submit">Entrar</button>
        </form>
    </div>
</div>